# Ignore compiled Python files
*.pyc

# Ignore Python cache directories
__pycache__/

.env
.env.*

*.sqlite
*.db
data.sqlite

venv/
env/
ENV/
.virtualenvs/

__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/
*.swp
*.swo

*.log